<%= form_for(@advertisement) do |form| %>
  <div class="actions">
    <div class="text-field">
      <%= form.label :descricao %>
      <%= form.text_area :descricao, type: 'text' %>
    </div>

    <%= form.submit %>
  </div>
<% end %>
